<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facedetection - Family Image</title>
</head>
<body>
    <h1>Facedetection on a family image</h1>
    <br>
    <h3> Orginal image</h3>
    <img src="../static/image.jpg" alt="facedetection-image"/>
    <h3> With Facedetection</h3>
    <img src="../static/image-facedetection.jpg" alt="facedetection-image"/>
    <a href=" {{ url_for('facedetection_image') }}">Open facedetection-image on a single-page</a>


    
</body>
</html>